# macOS
.DS_Store

# Build output
/target/
/out/

# Demo (ignore generated outputs only)
/demo/output/
/demo/temp/

# Generated / WIP
/docs/
/changes/

# IDE
/.idea/

# File types to ignore everywhere
*.class
*.txt
!src/main/resources/config/_files.txt
*.diff
